[Unit]
Description=SMTPHook Webhook Server

[Container]
Image=localhost/smtphook-golang_webhook-server:latest
Name=webhook-server
PublishPort=4001:4001
# Adjust paths below to match your installation directory
Volume=%h/smtphook/logs:/app/logs
Volume=%h/smtphook/webhook-server/.env:/app/.env

[Install]
WantedBy=default.target
