[Unit]
Description=SMTPHook Parser

[Container]
Image=localhost/smtphook-golang_parser:latest
Name=parser
# Adjust paths below to match your installation directory
Volume=%h/smtphook/logs:/app/logs
Volume=%h/smtphook/parser/.env:/app/.env

[Install]
WantedBy=default.target
