[Unit]
Description=SMTPHook Webhook

[Container]
Image=localhost/smtphook-golang_webhook:latest
Name=webhook
PublishPort=4000:4000
# Adjust paths below to match your installation directory
Volume=%h/smtphook/logs:/app/logs
Volume=%h/smtphook/webhook/.env:/app/.env

[Install]
WantedBy=default.target
